
{% load static %}

<nav class="navbar navbar-expand-md sticky-top flex-column">
    <div class="w-100 d-flex">
        <div id="navbar-header">
            <img id="logo" src="{% static 'img/logo.png' %}">
            <!-- <h1 id="application_title">Firewatch Service</h1> -->
        </div>
    </div>
    <div class="w-100 d-flex">
        <ul class="navbar-nav mr-auto" id="navigation">
            <li class="nav-item active"><a class="nav_link" href="/">Home&nbsp;</a></li>
        </ul>
    </div>
</nav>